[run]
omit =
    */generated/*
    */lib/python3.8/*
    *__init__.py*
    *.png
    *.css
    *.js
    *.json


[report]
exclude_lines =
    raise NotImplementedError
    return NotImplemented
    if __name__ == .__main__.


